<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src ="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="{{ url_for('static', filename = 'index.js') }}"></script>
        <title>Comvista</title>
    </head>
    <body>
        <ul id="votos">
        </ul>
        <button data-vote="me gusta">Me gusta</button>
        <button data-vote="no me gusta">No me gusta</button>
        <button data-vote="quizas">quizas</button>
    </body>
</html>
