<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <tittle>Tu paseo!</tittle>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <style>
            body{
                text-align:center;
            }
    
            h1{
                text-align: center;
            }
            input[type=text]{
                background-color: yellow;
            }
            form{
                text-align: center;    
            }

        </style>
    </head>
    <body>
        <h1>{% block heading %}{% endblock %}</h1>
        <form>
            <div>
                <input name="name" type="text" placeholder="Nombre"><br>
                <input name="name" type="text" placeholder="Apellido"><br>
                <input name="celular" type="number" placeholder="Celular"><br>
                <input name="email" type="email" placeholder="Correo electrónico"><br>
                <input name="password" type="password" placeholder="Password"><br>
            </div>
    
            <div>
                Que Area Social le gustaría visitar primero?
                <input name="social" type="radio" value="piscina">Piscina
                <input name="social" type="radio" value="gimnacio">Gimnasio
                <input name="social" type="radio" value="cowork">Zona de CoWork<br>
                <input name="social" type="radio" value="petpark">Petpark
                <input name="social" type="radio" value="lobbing">Otro
            </div>
    
            <div>
        </form>

        {% block body %}{% endblock %}
        <div id="content">
            {% block content %}
            <form>
                <input type="text" placeholder="Full Name" name="name">
                <button type="button" class="btn btn-primary"> submit!</button>
            </form>
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2020 by <a href="http://comvista.ai/">comvista.ai</a>.            
            {% endblock %}
        </div>
    </body>
</html>
